@media screen and (max-width: 1000px){
  .burger{
    display: block;
  }

  .header{
    .header__logo__text{
      position: relative;
      left: 1rem;
    }
    .header__nav{
      ul{
        display: block;
        opacity: 1;
        background: #00000090;
        height: calc(100vh - 60px);
        width: 50vw;
        position: absolute;
        top: 60px;
        left: -50vw;
        //left: 0vw;
        li{
          text-align: left;
          margin-top: 10px;
        }
      }
      .burger{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
      }
    }
  }

  .burger.active div{
    transition: 0.3s ease-in-out 0.3s;
  }

  .burger.active div:nth-child(1){
    transform: translate(4px, 6px) rotate(45deg);
  }

  .burger.active div:nth-child(2){
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s esae-in-out;
  }

  .burger.active div:nth-child(3){
    transform: translate(4px, -6px) rotate(-45deg);
  }
}